 {% extends 'musicbeats/basic.html' %}
{% block title %}All Songs{% endblock %} 
{% block body %}
<div class="container">

    <div class="row"> 
        <div  class="col-md-6" style="padding-top: 3%;">
        <img src="/media/{{ songs.Images }}" alt="" height="250px" width="300px">
        </div>
        <div class="col-md-6">
            <h2 style="padding-top: 6%; font-weight: 550;">Title: {{songs.name}}</h2>
            <h5 style="padding-top: 2%; font-weight: 550;"> Category:{{songs.tags}}</h5>
            <h5 style="padding-top: 2%; font-weight: 550;"> Singer:{{songs.singer}}</h5>
            <h5 style="padding-top: 2%; font-weight: 550;"> Movie:{{songs.movie}}</h5>
            <audio controls style="padding-top: 2%;">
                <source src="/media/Images/{{ songs.song }}" type="audio/mp3">
               
            </audio> 
            
            <div class="">
            <a href="/media/{{songs.song}}"><button class="btn-btn-outline-danger">Download Song</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %} 