{% extends 'musicbeats/basic.html' %}
{% block Title %}All Songs{% endblock %}
{% block body %}
<div class="container">
{% for song in songs %}
<div class="card mb-3" style="max-width: 940px; padding-top: 3%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/media/{{ song.Images }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color:black;">{{song.name}}</h5> <!-- Change text color to blue -->
          <p class="card-text" style="color: black;">{{song.tags}}</p> <!-- Change text color to green -->
          <a href="/musicbeats/songs/{{song.song_id}}"><button class="btn btn-outline-danger">Listen Song</button></a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
